altair==5.5.0
altgraph==0.17.4
amadeus==11.0.0
annotated-types==0.7.0
anyio==4.8.0
attrs==25.3.0
beautifulsoup4==4.12.3
blinker==1.9.0
bs4==0.0.2
cached-property==2.0.1
cachetools==6.1.0
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.0
chevron==0.14.0
click==8.1.8
colorama==0.4.6
colour==0.1.5
contourpy==1.3.1
cycler==0.12.1
et_xmlfile==2.0.0
exceptiongroup==1.2.2
Flask==3.1.0
fonttools==4.55.0
frozendict==2.4.6
genanki==0.13.1
gitdb==4.0.12
GitPython==3.1.44
glcontext==3.0.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.7
httpx==0.28.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
keyboard==0.13.5
kiwisolver==1.4.7
lxml==5.4.0
manimlib==0.2.0
MarkupSafe==3.0.2
matplotlib==3.10.3
narwhals==1.44.0
networkx==3.4.2
numpy==2.1.3
ollama==0.4.7
opencv-python==4.11.0.86
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==24.2
pandas==2.3.0
pefile==2023.2.7
pillow==11.0.0
plotly==6.2.0
progressbar==2.5
protobuf==6.31.1
pyarrow==20.0.0
pycairo==1.28.0
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.9.1
pydub==0.25.1
pygame==2.6.0
pygame-menu==4.4.8
pygame-textinput==1.0.1
pyglet==2.1.6
pyglm==2.8.2
Pygments==2.19.1
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
pyparsing==3.2.0
pyperclip==1.9.0
pyreadline==2.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
pywin32-ctypes==0.2.3
PyYAML==6.0.2
pyzmq==26.2.0
referencing==0.36.2
requests==2.32.3
rpds-py==0.25.1
scipy==1.14.1
screeninfo==0.8.1
selenium==4.33.0
six==1.16.0
skia-pathops==0.8.0.post2
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
srt==3.5.3
streamlit==1.46.0
svgelements==1.9.6
tenacity==9.1.2
toml==0.10.2
tornado==6.5.1
tqdm==4.67.1
trio==0.30.0
trio-websocket==0.12.2
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
watchdog==6.0.0
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
wsproto==1.2.0
